src/main/resources/ilcd/schemas/Contact_Extensions_2024.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.indata.network/EntityIds/2024" targetNamespace="http://www.indata.network/EntityIds/2024"
   elementFormDefault="qualified" attributeFormDefault="qualified" version="1.1">

   <xs:element name="entityIds">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="entityId" minOccurs="0" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

   <xs:element name="entityId">
      <xs:complexType>
         <xs:simpleContent>
            <xs:extension base="xs:string">
               <xs:attribute name="type" type="xs:string"/>
               <xs:anyAttribute/>
            </xs:extension>
         </xs:simpleContent>
      </xs:complexType>
   </xs:element>

</xs:schema>